<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>월간 목표 생성</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script type="text/javascript">

    </script>
    <style>
        ul li {
            list-style-type: none;
            float: left;
            margin-left: 10px;
        }

        #create-monthly-goal {
            position:fixed;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            background-color: #FAEEE7;
            height: 450px;
            width: 500px;
            border-radius: 20px;
            border: solid 4px #325288;
        }

        #title {
            text-align: center;
        }

        #date, #input-name, #input-content, #input-type {
            margin-left: 30px;
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <div id="create-monthly-goal">
        <div id="head">
            <h1 id="create-monthly-goal-title">월간 목표 생성</h1>
        </div>
        <form id="create-monthly-goal-form" action="" th:action="@{/goal/create/monthly}" method="post">
            <div class="buttons">
                <ul style = "margin-left: 18px; padding-bottom: 10px">
                    <li><img style="width: 20px" th:src="@{/images/tues-goal-type-A.png}"><input class="goalType" th:checked="${#strings.equals(monthlyGoalReqDto.goalType,'A')}" type="radio" name="goalType" id="goalTypeA" value="A" th:disabled="${createdGoalTypes.get(0).equals('A')}"><label for="goalTypeA"></label></li>
                    <li><img style="width: 20px" th:src="@{/images/tues-goal-type-B.png}"><input class="goalType" th:checked="${#strings.equals(monthlyGoalReqDto.goalType,'B')}" type="radio" name="goalType" id="goalTypeB" value="B" th:disabled="${createdGoalTypes.get(1).equals('B')}"><label for="goalTypeB"></label></li>
                    <li><img style="width: 20px" th:src="@{/images/tues-goal-type-C.png}"><input class="goalType" th:checked="${#strings.equals(monthlyGoalReqDto.goalType,'C')}" type="radio" name="goalType" id="goalTypeC" value="C" th:disabled="${createdGoalTypes.get(2).equals('C')}"><label for="goalTypeC"></label></li>
                    <li><img style="width: 20px" th:src="@{/images/tues-goal-type-D.png}"><input class="goalType" th:checked="${#strings.equals(monthlyGoalReqDto.goalType,'D')}" type="radio" name="goalType" id="goalTypeD" value="D" th:disabled="${createdGoalTypes.get(3).equals('D')}"><label for="goalTypeD"></label></li>
                    <li><img style="width: 20px" th:src="@{/images/tues-goal-type-E.png}"><input class="goalType" th:checked="${#strings.equals(monthlyGoalReqDto.goalType,'E')}" type="radio" name="goalType" id="goalTypeE" value="E" th:disabled="${createdGoalTypes.get(4).equals('E')}"><label for="goalTypeE"></label></li>
                    <li><img style="width: 20px" th:src="@{/images/tues-goal-type-F.png}"><input class="goalType" th:checked="${#strings.equals(monthlyGoalReqDto.goalType,'F')}" type="radio" name="goalType" id="goalTypeF" value="F" th:disabled="${createdGoalTypes.get(5).equals('F')}"><label for="goalTypeF"></label></li>
                    <li><img style="width: 20px" th:src="@{/images/tues-goal-type-G.png}"><input class="goalType" th:checked="${#strings.equals(monthlyGoalReqDto.goalType,'G')}" type="radio" name="goalType" id="goalTypeG" value="G" th:disabled="${createdGoalTypes.get(6).equals('G')}"><label for="goalTypeG"></label></li>
                    <li><img style="width: 20px" th:src="@{/images/tues-goal-type-H.png}"><input class="goalType" th:checked="${#strings.equals(monthlyGoalReqDto.goalType,'H')}" type="radio" name="goalType" id="goalTypeH" value="H" th:disabled="${createdGoalTypes.get(7).equals('H')}"><label for="goalTypeH"></label></li>
                    <li><img style="width: 20px" th:src="@{/images/tues-goal-type-I.png}"><input class="goalType" th:checked="${#strings.equals(monthlyGoalReqDto.goalType,'I')}" type="radio" name="goalType" id="goalTypeI" value="I" th:disabled="${createdGoalTypes.get(8).equals('I')}"><label for="goalTypeI"></label></li>
                    <li><img style="width: 20px" th:src="@{/images/tues-goal-type-OTHER.png}"><input class="goalType" th:checked="${#strings.equals(monthlyGoalReqDto.goalType,'J')}" type="radio" name="goalType" id="goalTypeJ" value="J" th:disabled="${createdGoalTypes.get(9).equals('J')}"><label for="goalTypeJ"></label></li>
                </ul>
            </div>
            <br>
            <div id="date">
                <div style="font-size: 18px; font-weight: bold;" >날짜</div>
                <label for="create-goal-year"></label>
                <input type="text" id="create-goal-year" name="year" th:value="${year}" readonly placeholder="YEAR">
                <label for="create-goal-month"></label>
                <input type="text" min="1" max="12" id="create-goal-month" name="month" readonly th:value="${month}" placeholder="MONTH">
            </div>
            <div id="input-name">
                <div style="font-size: 18px; font-weight: bold;">이름</div>
                <label for="create-goal-name"></label>
                <input type="text" name="name" id="create-goal-name">
            </div>
            <div id="input-content">
                <div style="font-size: 18px; font-weight: bold;">내용</div>
                <label for="create-goal-content"></label>
                <input type="text" name="content" id="create-goal-content">
            </div>
            <div id="input-type">
                <div style="font-size: 18px; font-weight: bold;">타입</div>
                <select name="achieveType" id="create-monthly-goal-select" onchange="OnChange(this.value);">
                    <option value="BASIC">기본</option>
                    <option value="WAKE">기상</option>
                    <option value="COUNT">개수</option>
                    <option value="TIME">시간</option>
                </select>
                <p id="input_out"></p>
            </div>
            <div id="create-buttons">
                <button type="submit" class="create-button hvr-fade-create" onclick="validationMonthly()" style="margin-right: 100px;">확인</button>
                <button type="button" id="create-monthly-goal-cancel" class="create-button hvr-fade-create" onclick="monthlyGoalModalOff()">취소</button>
            </div>
        </form>
    </div>
</body>
<script>

    function OnChange(value) {
        var gubun =
            document.getElementById("achieveType").options[document.getElementById("achieveType").selectedIndex].value;
        var input = "";
        if ( gubun != "X" ){
            if (gubun == "WAKE") {
                input += "<input type='number'  id='wakeUpHours' name='wakeUpHours' placeholder='hours'> " +
                    "<input type='number'  id='wakeUpMinutes' name='wakeUpMinutes' placeholder='minutes'>";
            } else if (gubun == "COUNT"){
                input += "<input type= 'number' id='goalCountQuota' name='goalCountQuota' placeholder='개수'>";
            } else if (gubun == "TIME") {
                input += "<input type= 'number' id='goalTimeQuota' name='goalTimeQuota' placeholder='시간'>";
            }
            document.getElementById("input_out").innerHTML = input;
        }
    }

</script>
</html>
