<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        html {
            height: 90%;
        }
        body {
            background-color: #FFFFF0;
            height: 100%;
            margin: 40px;
        }

        #monthly-modal.modal-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
        #monthly-modal .modal-window {
            background: rgba( 69, 139, 197, 0.70 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            width: 220px;
            height: 200px;
            position: relative;
            top: -100px;
            padding: 10px;
        }
        #monthly-modal .title {
            padding-left: 10px;
            display: inline;
            text-shadow: 1px 1px 2px gray;
            color: white;

        }
        #monthly-modal .title h2 {
            display: inline;
        }
        #monthly-modal .close-area {
            display: inline;
            float: right;
            padding-right: 10px;
            cursor: pointer;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }

        #monthly-modal .content {
            margin-top: 20px;
            padding: 0px 10px;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }

    /*    -----------------------------------------      */
        #daily-modal.modal-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
        #daily-modal .modal-window {
            background: rgba( 69, 139, 197, 0.70 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            width: 220px;
            height: 250px;
            position: relative;
            top: -100px;
            padding: 10px;
        }
        #daily-modal .title {
            padding-left: 10px;
            display: inline;
            text-shadow: 1px 1px 2px gray;
            color: white;

        }
        #daily-modal .title h2 {
            display: inline;
        }
        #daily-modal .close-area {
            display: inline;
            float: right;
            padding-right: 10px;
            cursor: pointer;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }

        #daily-modal .content {
            margin-top: 20px;
            padding: 0px 10px;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }

        .daily-goals-container {
            display: flex;
            justify-content: space-around;
        }

        .day-of-week-container {
            display: flex;
            flex-direction: column;
        }

        .goal-success {
            color: cornflowerblue;
        }

         /* 주간 목표 <-> 일간 목표 전환 토글 버튼 - 시작 */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            vertical-align:middle;
        }

        /* Hide default HTML checkbox */
        .switch input {display:none;}

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .2s;
            transition: .2s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .2s;
            transition: .2s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        p {
            margin:0px;
            display:inline-block;
            font-size:15px;
            font-weight:bold;
        }
        /* 주간 목표 <-> 일간 목표 전환 토글 버튼 - 끝 */

        #monthly-goal-title {
            font-size: 40px
        }

        #goal-main-title-img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        #monthly-goal-container {
            display: flex;
            flex-direction: row;
        }

        .goal-type-img {
            width: 20px;
            height: 25px;
        }
        
        .monthly-goal-name {
            font-size: 20px;
        }

    </style>

    <!-- 주간 목표 <-> 일간 목표 전환 토글 버튼-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

</head>
<body>
<h1 id="logo"> tu es </h1>
<div>
    <div id="monthly-goal-container">
        <img id="goal-main-title-img" src="/images/goal_main_title.png" alt="goal_main_image">
        <span id="monthly-goal-title" th:text="|${year}월의 목표|"></span>
    </div>
    <div id="monthly-goals-ajax">
    <ul th:each=" monthlyGoal : ${monthlyGoals}">
        <li class="monthly-goal-name" th:classappend="${monthlyGoal.success} ? 'goal-success' : 'goal-not-success'" style="display: inline-block" th:text="${monthlyGoal.name}"></li>
        <img class="goal-type-img" th:src="@{/images/tues-goal-type-} + ${monthlyGoal.getGoalType()} + '.png'">
        <span th:switch="${monthlyGoal.achieveType}">
            <div style="display: inline-block" th:case="${T(kong.tues.goal.AchieveType).COUNT}">
                <div class="monthly-count" th:attr="class=${monthlyGoal.id}">
                    <span th:text="|${monthlyGoal.goalCount} / ${monthlyGoal.goalCountQuota}|"> </span>
                    <button th:onclick="monthlyGoalSuccess([[${monthlyGoal.id}]], 0, [[${monthlyGoal.achieveType}]], [[${monthlyGoal.goalType}]])">plus</button>
                    <button th:onclick="monthlyGoalFail([[${monthlyGoal.id}]],0, [[${monthlyGoal.achieveType}]], [[${monthlyGoal.goalType}]])">minus</button>
                </div>
            </div>
            <div style="display:inline-block;" th:case="${T(kong.tues.goal.AchieveType).TIME}">
                <div class="monthly-time" th:attr="class=${monthlyGoal.id}">
                    <span th:text="|${monthlyGoal.goalTime} / ${monthlyGoal.goalTimeQuota}|"></span>
                    <button th:onclick="monthlyGoalSuccess([[${monthlyGoal.id}]], 0, [[${monthlyGoal.achieveType}]], [[${monthlyGoal.goalType}]])">plus</button>
                    <button th:onclick="monthlyGoalFail([[${monthlyGoal.id}]],0, [[${monthlyGoal.achieveType}]], [[${monthlyGoal.goalType}]])">minus</button>
                </div>
            </div>
            <div style="display:inline-block;" th:case="${T(kong.tues.goal.AchieveType).WAKE}">
                <div class="monthly-wake" th:attr="class=${monthlyGoal.id}">
                    <span th:text="${monthlyGoal.wakeUpTime}"></span>
                    <button th:onclick="monthlyGoalSuccess([[${monthlyGoal.id}]], 0, [[${monthlyGoal.achieveType}]], [[${monthlyGoal.goalType}]])">check</button>
                </div>
            </div>
            <div style="display:inline-block;" th:case="${T(kong.tues.goal.AchieveType).BASIC}">
                <div class="monthly-basic" th:attr="class=${monthlyGoal.id}">
                    <span th:text="${monthlyGoal.success == true} ? 'success' : 'fail'"></span>
                    <button th:if="${monthlyGoal.success == true}" th:onclick="monthlyGoalSuccess([[${monthlyGoal.id}]], 0, [[${monthlyGoal.achieveType}]], [[${monthlyGoal.goalType}]])">check</button>
                    <button th:if="${monthlyGoal.success == false}" th:onclick="monthlyGoalFail([[${monthlyGoal.id}]],0, [[${monthlyGoal.achieveType}]], [[${monthlyGoal.goalType}]])">check</button>
                </div>
            </div>
        </span>
    </ul>
    </div>
</div>

    <button id="btn-monthly-modal">월간 목표 생성</button>
    <button id="btn-daily-modal"> 일간 목표 생성 </button>

<div>
        <div style="display: flex; justify-content: space-between">
        <div id="daily-goal-title" style="margin-left: 20px">주간 목표</div>
        <!-- 토글 버튼 시작 -->
        <div style="margin-right: 20px">
            <label class="switch">
                <input type="checkbox" th:onclick="|location.href='@{/goal/main?isDaily=true}'|">
                <span class="slider round"></span>
            </label>
            <p style="display: inline-block">Weekly<p style="display:none;">Weekly</p>
        </div>
    </div>
    <!-- 토글 버튼 끝 -->
    <div>
        <span th:if="${error}" th:text="${error}"></span>
    </div>
    <div class="daily-goals-container" style="margin-top: 30px">
        <div id="monday">
        <div>MON</div>
            <div th:if="${dailyGoals.get('MON')}" th:each="goal : ${dailyGoals.get('MON')}">
                <span th:classappend="${goal.success ? 'goal-success' : 'goal-not-success'}" th:text="${goal.name}"></span>
                <img class="goal-type-img" th:src="@{/images/tues-goal-type-} + ${goal.getGoalType()} + '.png'">
                <span th:switch="${goal.achieveType}">
                    <span th:case="${T(kong.tues.goal.AchieveType).COUNT}">
                        <div class="daily-count-mon" th:attr="class=${goal.id}">
                            <span th:text="|${goal.goalCount} / ${goal.goalCountQuota}|"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'mon', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                            <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'mon', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).TIME}">
                        <div class="daily-time-mon" th:attr="class=${goal.id}">
                            <span th:text="  |${goal.goalTime} / ${goal.goalTimeQuota}|"></span>
                                <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'mon', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                                <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'mon', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).WAKE}">
                        <div class="daily-wake-mon" th:attr="class=${goal.id}">
                            <span th:text="  ${goal.wakeUpTime}"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'mon', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).BASIC}">
                        <div class="daily-basic-mon" th:attr="class=${goal.id}">
                            <span th:text="${goal.success == true} ? 'success' : 'fail'"></span>
                            <button th:if="${goal.success == true}" th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'mon', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                            <button th:if="${goal.success == false}" th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'mon', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                </span>
            </div>
        </div>
        <div>TUE
            <div th:if="${dailyGoals.get('TUE')}" th:each="goal : ${dailyGoals.get('TUE')}">
                <span th:classappend="${goal.success ? 'goal-success' : 'goal-not-success'}" th:text="${goal.name}"></span>
                <img class="goal-type-img" th:src="@{/images/tues-goal-type-} + ${goal.getGoalType()} + '.png'">
                <span th:switch="${goal.achieveType}">
                    <span th:case="${T(kong.tues.goal.AchieveType).COUNT}">
                        <div class="daily-count-tue" th:attr="class=${goal.id}">
                            <span th:text="|${goal.goalCount} / ${goal.goalCountQuota}|"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'tue', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                            <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'tue', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).TIME}">
                        <div class="daily-time-tue" th:attr="class=${goal.id}">
                            <span th:text="  |${goal.goalTime} / ${goal.goalTimeQuota}|"></span>
                                <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'tue', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                                <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'tue', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).WAKE}">
                        <div class="daily-wake-tue" th:attr="class=${goal.id}">
                            <span th:text="  ${goal.wakeUpTime}"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'tue', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).BASIC}">
                        <div class="daily-basic-tue" th:attr="class=${goal.id}">
                            <span th:text="${goal.success == true} ? 'success' : 'fail'"></span>
                            <button th:if="${goal.success == true}" th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'tue', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                            <button th:if="${goal.success == false}" th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'tue', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                </span>
            </div>
        </div>
        <div class="day-of-week-container">WED
            <div th:if="${dailyGoals.get('WED')}" th:each="goal : ${dailyGoals.get('WED')}">
                <span th:classappend="${goal.success ? 'goal-success' : 'goal-not-success'}" th:text="${goal.name}"></span>
                <img class="goal-type-img" th:src="@{/images/tues-goal-type-} + ${goal.getGoalType()} + '.png'">
                <span th:switch="${goal.achieveType}">
                    <span th:case="${T(kong.tues.goal.AchieveType).COUNT}">
                        <div class="daily-count-wed" th:attr="class=${goal.id}">
                            <span th:text="|${goal.goalCount} / ${goal.goalCountQuota}|"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'wed', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                            <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'wed', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).TIME}">
                        <div class="daily-time-wed" th:attr="class=${goal.id}">
                            <span th:text="  |${goal.goalTime} / ${goal.goalTimeQuota}|"></span>
                                <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'wed', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                                <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'wed', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).WAKE}">
                        <div class="daily-wake-wed" th:attr="class=${goal.id}">
                            <span th:text="  ${goal.wakeUpTime}"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'wed', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).BASIC}">
                        <div class="daily-basic-wed" th:attr="class=${goal.id}">
                            <span th:text="${goal.success == true} ? 'success' : 'fail'"></span>
                            <button th:if="${goal.success == true}" th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'wed', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                            <button th:if="${goal.success == false}" th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'wed', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                </span>
                <br>
            </div>
        </div>
        <div>THU
            <div th:if="${dailyGoals.get('THU')}" th:each="goal : ${dailyGoals.get('THU')}">
                <span th:classappend="${goal.success ? 'goal-success' : 'goal-not-success'}" th:text="${goal.name}"></span>
                <img class="goal-type-img" th:src="@{/images/tues-goal-type-} + ${goal.getGoalType()} + '.png'">
                <span th:switch="${goal.achieveType}">
                    <span th:case="${T(kong.tues.goal.AchieveType).COUNT}">
                        <div class="daily-count-thu" th:attr="class=${goal.id}">
                            <span th:text="|${goal.goalCount} / ${goal.goalCountQuota}|"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'thu', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                            <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'thu', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).TIME}">
                        <div class="daily-time-thu" th:attr="class=${goal.id}">
                            <span th:text="  |${goal.goalTime} / ${goal.goalTimeQuota}|"></span>
                                <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'thu', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                                <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'thu', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).WAKE}">
                        <div class="daily-wake-thu" th:attr="class=${goal.id}">
                            <span th:text="  ${goal.wakeUpTime}"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'thu', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).BASIC}">
                        <div class="daily-basic-thu" th:attr="class=${goal.id}">
                            <span th:text="${goal.success == true} ? 'success' : 'fail'"></span>
                            <button th:if="${goal.success == true}" th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'thu', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                            <button th:if="${goal.success == false}" th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'thu', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                </span>
            </div>
        </div>
        <div>FRI
            <div th:if="${dailyGoals.get('FRI')}" th:each="goal : ${dailyGoals.get('FRI')}">
                <span th:classappend="${goal.success ? 'goal-success' : 'goal-not-success'}" th:text="${goal.name}"></span>
                <img class="goal-type-img" th:src="@{/images/tues-goal-type-} + ${goal.getGoalType()} + '.png'">
                <span th:switch="${goal.achieveType}">
                    <span th:case="${T(kong.tues.goal.AchieveType).COUNT}">
                        <div class="daily-count-fri" th:attr="class=${goal.id}">
                            <span th:text="|${goal.goalCount} / ${goal.goalCountQuota}|"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'fri', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                            <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'fri', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).TIME}">
                        <div class="daily-time-fri" th:attr="class=${goal.id}">
                            <span th:text="  |${goal.goalTime} / ${goal.goalTimeQuota}|"></span>
                                <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'fri', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                                <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'fri', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).WAKE}">
                        <div class="daily-wake-fri" th:attr="class=${goal.id}">
                            <span th:text="  ${goal.wakeUpTime}"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'fri', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).BASIC}">
                        <div class="daily-basic-fri" th:attr="class=${goal.id}">
                            <span th:text="${goal.success == true} ? 'success' : 'fail'"></span>
                            <button th:if="${goal.success == true}" th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'fri', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                            <button th:if="${goal.success == false}" th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'fri', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                </span>
            </div>
        </div>
        <div>SAT
            <div th:if="${dailyGoals.get('SAT')}" th:each="goal : ${dailyGoals.get('SAT')}">
                <span th:classappend="${goal.success ? 'goal-success' : 'goal-not-success'}" th:text="${goal.name}"></span>
                <img class="goal-type-img" th:src="@{/images/tues-goal-type-} + ${goal.getGoalType()} + '.png'">
                <span th:switch="${goal.achieveType}">
                    <span th:case="${T(kong.tues.goal.AchieveType).COUNT}">
                        <div class="daily-count-sat" th:attr="class=${goal.id}">
                            <span th:text="|${goal.goalCount} / ${goal.goalCountQuota}|"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'sat', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                            <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'sat', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).TIME}">
                        <div class="daily-time-sat" th:attr="class=${goal.id}">
                            <span th:text="  |${goal.goalTime} / ${goal.goalTimeQuota}|"></span>
                                <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'sat', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                                <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'sat', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).WAKE}">
                        <div class="daily-wake-sat" th:attr="class=${goal.id}">
                            <span th:text="  ${goal.wakeUpTime}"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'sat', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).BASIC}">
                        <div class="daily-basic-sat" th:attr="class=${goal.id}">
                            <span th:text="${goal.success == true} ? 'success' : 'fail'"></span>
                            <button th:if="${goal.success == true}" th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'sat', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                            <button th:if="${goal.success == false}" th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'sat', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                </span>
            </div>
        </div>
        <div>SUN
            <div th:if="${dailyGoals.get('SUN')}" th:each="goal : ${dailyGoals.get('SUN')}">
                <span th:classappend="${goal.success ? 'goal-success' : 'goal-not-success'}" th:text="${goal.name}"></span>
                <img class="goal-type-img" th:src="@{/images/tues-goal-type-} + ${goal.getGoalType()} + '.png'">
                <span th:switch="${goal.achieveType}">
                    <span th:case="${T(kong.tues.goal.AchieveType).COUNT}">
                        <div class="daily-count-sun" th:attr="class=${goal.id}">
                            <span th:text="|${goal.goalCount} / ${goal.goalCountQuota}|"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'sun', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                            <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'sun', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).TIME}">
                        <div class="daily-time-sun" th:attr="class=${goal.id}">
                            <span th:text="  |${goal.goalTime} / ${goal.goalTimeQuota}|"></span>
                                <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'sun', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">plus</button>
                                <button th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'sun', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">minus</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).WAKE}">
                        <div class="daily-wake-sun" th:attr="class=${goal.id}">
                            <span th:text="  ${goal.wakeUpTime}"></span>
                            <button th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'sun', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                    <span th:case="${T(kong.tues.goal.AchieveType).BASIC}">
                        <div class="daily-basic-sun" th:attr="class=${goal.id}">
                            <span th:text="${goal.success == true} ? 'success' : 'fail'"></span>
                            <button th:if="${goal.success == true}" th:onclick="dailyGoalSuccess([[${goal.id}]], [[${goal.achieveType}]], 'sun', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                            <button th:if="${goal.success == false}" th:onclick="dailyGoalFail([[${goal.id}]], [[${goal.achieveType}]], 'sun', [[${monthlyGoal.id}]], [[${goal.getGoalType}]])">check</button>
                        </div>
                    </span>
                </span>
        </div>
    </div>
</div>

<div id="monthly-modal" class="modal-overlay">
    <div class="modal-window">
        <div class="title">
            <h2>날짜</h2>
        </div>
        <div class="close-area">X</div>
            <div class="content">
                <form method="get" th:action="@{/goal/create/monthly}">
                    <div>YEAR</div>
                    <label for="year"></label>
                    <input style="width: 194px" type="number" th:min="${year}" th:value="${year}" max="3000" th:id="year" name="year"
                           placeholder="년">
                    <div>MONTH</div>
                    <label for="month"></label>
                    <input style="width: 194px" type="number" min="1" max="12" th:value="${month}" th:id="month" name="month" placeholder="월">
                    <br>
                    <div style="padding-top: 10px">
                        <button type="submit">월간 목표 생성</button>
                    </div>
                </form>
            </div>
    </div>
</div>

<div id="daily-modal" class="modal-overlay">
    <div class="modal-window">
        <div class="title">
            <h2>날짜</h2>
        </div>
        <div class="close-area">X</div>
        <div class="content">
            <form method="get" th:action="@{/goal/create/daily}">
                <div>YEAR</div>
                <label for="year"></label>
                <input style="width: 194px" type="number" th:min="${year}" th:value="${year}" max="3000" id="year" name="year"
                       placeholder="년">
                <div>MONTH</div>
                <label for="month"></label>
                <input style="width: 194px" type="number" min="1" max="12" th:value="${month}" id="month" name="month" placeholder="월">
                <div>DAY</div>
                <label for="day"></label>
                <input style="width: 194px" type="number" min="1" max="31" th:value="${day}" id="day" name="day" placeholder="일">
                <br>
                <div style="padding-top: 10px">
                    <button type="submit">일간 목표 생성</button>
                </div>
            </form>
        </div>
    </div>
    <div id="hidden" hidden></div>
</div>
</body>


<script>
    const monthlyModal = document.getElementById("monthly-modal")
    function monthlyModalOn() {
        monthlyModal.style.display = "flex"
    }
    function isModalOn() {
        return monthlyModal.style.display === "flex"
    }
    function monthlyModalOff() {
        monthlyModal.style.display = "none"
    }
    const btnMonthlyModal = document.getElementById("btn-monthly-modal")
    btnMonthlyModal.addEventListener("click", e => {
        monthlyModalOn()
    })
    const closeBtn = monthlyModal.querySelector(".close-area")
    closeBtn.addEventListener("click", e => {
        monthlyModalOff()
    })
    monthlyModal.addEventListener("click", e => {
        const evTarget = e.target
        if(evTarget.classList.contains("modal-overlay")) {
            monthlyModalOff()
        }
    })
    window.addEventListener("keyup", e => {
        if(isModalOn() && e.key === "Escape") {
            monthlyModalOff()
        }
    })

    const dailyModal = document.getElementById("daily-modal")
    function dailyModalOn() {
        dailyModal.style.display = "flex"
    }
    function isDailyModalOn() {
        return dailyModal.style.display === "flex"
    }
    function dailyModalOff() {
        dailyModal.style.display = "none"
    }
    const btnDailyModal = document.getElementById("btn-daily-modal")
    btnDailyModal.addEventListener("click", e => {
        dailyModalOn()
    })
    const closeDailyBtn = dailyModal.querySelector(".close-area")
    closeDailyBtn.addEventListener("click", e => {
        dailyModalOff()
    })
    monthlyModal.addEventListener("click", e => {
        const evTarget = e.target
        if(evTarget.classList.contains("modal-overlay")) {
            dailyModalOff()
        }
    })
    window.addEventListener("keyup", e => {
        if(isDailyModalOn() && e.key === "Escape") {
            dailyModalOff()
        }
    })

</script>
<script th:inline="javascript">

    function plusDailyGoal(id, year, month) {

        var form = document.createElement("form");
        form.setAttribute("method", "Post");
        form.setAttribute("action", "/goal/plus/daily");

        var plusInput1 = document.createElement("input");
        plusInput1.setAttribute("type", "hidden");
        plusInput1.setAttribute("name", "dailyGoalId");
        plusInput1.setAttribute("value", id);

        var plusInput2 = document.createElement("input");
        plusInput2.setAttribute("type", "hidden");
        plusInput2.setAttribute("name", "year");
        plusInput2.setAttribute("value", year);

        var plusInput3 = document.createElement("input");
        plusInput3.setAttribute("type", "hidden");
        plusInput3.setAttribute("name", "month");
        plusInput3.setAttribute("value", month);

        form.appendChild(plusInput1);
        form.appendChild(plusInput2);
        form.appendChild(plusInput3)
        document.body.appendChild(form);
        form.submit();
    }

    function plusMonthlyGoal(id) {

        var form = document.createElement("form");
        form.setAttribute("method", "Post");
        form.setAttribute("action", "/goal/plus/monthly");

        var plusInput = document.createElement("input");
        plusInput.setAttribute("type", "hidden");
        plusInput.setAttribute("name", "monthlyGoalId");
        plusInput.setAttribute("value", id);

        form.appendChild(plusInput);
        document.body.appendChild(form);
        form.submit();
    }

    function minusDailyGoal(id, year, month) {

        var form = document.createElement("form");
        form.setAttribute("method", "Post");
        form.setAttribute("action", "/goal/minus/daily");

        var minusInput1 = document.createElement("input");
        minusInput1.setAttribute("type", "hidden");
        minusInput1.setAttribute("name", "dailyGoalId");
        minusInput1.setAttribute("value", id);

        var minusInput2 = document.createElement("input");
        minusInput2.setAttribute("type", "hidden");
        minusInput2.setAttribute("name", "year");
        minusInput2.setAttribute("value", year);

        var minusInput3 = document.createElement("input");
        minusInput3.setAttribute("type", "hidden");
        minusInput3.setAttribute("name", "month");
        minusInput3.setAttribute("value", month);

        form.appendChild(minusInput1);
        form.appendChild(minusInput2);
        form.appendChild(minusInput3)
        document.body.appendChild(form);
        form.submit();
    }

    function minusMonthlyGoal(id) {

        var form = document.createElement("form");
        form.setAttribute("method", "Post");
        form.setAttribute("action", "/goal/minus/monthly");

        var minusInput = document.createElement("input");
        minusInput.setAttribute("type", "hidden");
        minusInput.setAttribute("name", "monthlyGoalId");
        minusInput.setAttribute("value", id);

        form.appendChild(minusInput);
        document.body.appendChild(form);
        form.submit();
    }

    // 주간 목표 <-> 일간 목표 전환용 토글
    var check = $("input[type='checkbox']");
    check.click(function(){
        $("p").toggle();
    });

    // ajax
    function monthlyGoalSuccess(monthlyGoalId, dailyGoalId,achieveType, goalType) {
        console.log("dataSend  /  id = " + monthlyGoalId)

        var monthlyGoalAchieveReqDto = {
            monthlyGoalId : monthlyGoalId,
            dailyGoalId : dailyGoalId,
            achieveType : achieveType,
            goalType : goalType
        };

        $.ajax({
            url: "/goal/ajax/plus/monthly",
            data: monthlyGoalAchieveReqDto,
            type:"POST",
            success: function (fragment) {
                console.log("fragment : " + fragment)
                // 일반 목표의 AchieveType과 월간 목표의 AchieveType이 다른 경우 일간 목표의 개수만 올라가게 설정
                if (fragment == '<div id="hidden" hidden></div>') {
                    return;
                }
                $("."+monthlyGoalId).replaceWith(fragment)
            }
        })
    }

    // ajax
    function monthlyGoalFail(monthlyGoalId, dailyGoalId,achieveType, goalType) {
        console.log("dataSend  /  id = " + monthlyGoalId)

        var monthlyGoalAchieveReqDto = {
            monthlyGoalId : monthlyGoalId,
            dailyGoalId : dailyGoalId,
            achieveType : achieveType,
            goalType : goalType,
        };

        $.ajax({
            url: "/goal/ajax/minus/monthly",
            data: monthlyGoalAchieveReqDto,
            type:"POST",
            success: function (fragment) {
                console.log("MonthlyMinusFragment : " + fragment)
                // 일반 목표의 AchieveType과 월간 목표의 AchieveType이 다른 경우 일간 목표의 개수만 올라가게 설정
                if (fragment == '<div id="hidden" hidden></div>') {
                    return;
                }

                $("."+monthlyGoalId).replaceWith(fragment)
            },
            error : function (error) {
                console.log("error : " + error)
                alert("error!");
            }
        })
    }

    function dailyGoalSuccess(dailyGoalId, achieveType, week, monthlyGoalId, goalType) {
        console.log("dataSend  /  id = " + dailyGoalId)

        var dailyGoalAchieveReqDto = {
            dailyGoalId : dailyGoalId,
            achieveType : achieveType,
            week : week
        };

        var monthlyGoalIdReq = monthlyGoalId == null ? 0 : monthlyGoalId;

        $.ajax({
            url: "/goal/ajax/plus/daily",
            data: dailyGoalAchieveReqDto,
            type:"POST",
            success: function (fragment) {
                monthlyGoalSuccess(monthlyGoalIdReq, dailyGoalId, achieveType, goalType)
                console.log("fragment : " + fragment)
                $("."+dailyGoalId).replaceWith(fragment)
            }
        })
    }

    // ajax
    function dailyGoalFail(dailyGoalId, achieveType, week, monthlyGoalId, goalType) {
        console.log("dataSend  /  id = " + dailyGoalId)

        var dailyGoalAchieveReqDto = {
            dailyGoalId : dailyGoalId,
            achieveType : achieveType,
            week : week
        };

        var monthlyGoalIdReq = monthlyGoalId == null ? 0 : monthlyGoalId;

        $.ajax({
            url: "/goal/ajax/minus/daily",
            data: dailyGoalAchieveReqDto,
            type:"POST",
            success: function (fragment) {
                monthlyGoalFail(monthlyGoalIdReq, dailyGoalId, achieveType, goalType)
                console.log("fragment : " + fragment)
                $("."+dailyGoalId).replaceWith(fragment)
            }
        })
    }
    // $("."+id) <- 여기서 지정한 id나 class가 있는 태그가,
    // ajax 통신으로 보낸 컨트롤러의 메서드의 반환값에서 지정한 id나 클래스가 있는 태그의 값으로 대체된다.

</script>


</html>