/*스크롤바*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #CDDEFF;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2C2891;
}

.day-info {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    font-style: italic;
}

.type-text {
    font-size: 13px;
}

select {
    width: 57px;
    text-align: center;
    padding: 0.15em;
    font-family: inherit;
    font-size: 17px;
    border: 2px solid #292C6D;
    border-radius: 5px;
    background: white;
    color: #292C6D;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

button {
    border-radius: 5px;
    border: solid 0px #292C6D;
    background-color: #292C6D;
    width: 62px;
    height: 32px;
    font-weight: bold;
    color: #FFF8F3;
}

button:hover {
    cursor: pointer;
}

body {
    background-color: #FFF8F3;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    width: 76%;
    justify-content: space-between;
    align-items: center;
}

.year_and_month {
    font-style: italic;
    font-size: 40px;
}

.calendar {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: fit-content;
    margin-bottom: 50px;
}

.calendar-item {
    display: flex;
}

.day_box {
    width : 200px;
    height : 150px;
    border: 2px solid black;
    overflow: auto;
    overflow-y: auto;
    border-bottom: none;
    border-right: none;
    padding-left: 5px;
}

.day_box_nothing {
    background-color: #cccccc;
}

.one-goal {
    display: flex;
    flex-wrap: wrap;
}

.day_and_day_of_week {
    display: flex;
    font-weight: lighter;
    margin-bottom: 5px;
}

.fail-goal {
    color: #E04555;
}

.month-records {
    border: black solid 2px;
    width: 1417px;
    padding: 16px;
    margin-bottom: 30px;
}

.one-monthly-goal {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.monthly-goal-name-and-count {
    display: flex;
    align-items: center;
}

#monthly-goal-name {
    margin-right: 20px;
}

.monthly-goal-achieve-rate {
    font-size: 14px;
    font-style: italic;
}

progress {
    height: 10px;
    width: 270px;
}

#records-of-the-month-title {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

#back-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 30px;
}

#back-button:hover {
    cursor:pointer;
}