<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="daily-goal-detail">
    <div class="daily-goal-detail-title">이름</div>
    <div id="detail-goal-name" th:text="${detailDailyGoal.name}" class="daily-goal-detail-content"> </div>
    <div class="daily-goal-detail-title">내용</div>
    <div id="detail-goal-content" th:text="${detailDailyGoal.content}" class="daily-goal-detail-content"></div>
    <div class="daily-goal-detail-title">목표 종류</div>
    <img id="detail-goal-type" class="daily-goal-detail-content" th:src="'https://tues-images.s3.ap-northeast-2.amazonaws.com/images/tues-goal-type-' + ${detailDailyGoal.getGoalType()} + '.png'" style="width: 68px">
    <div class="daily-goal-detail-title">타입</div>
    <div id="detail-achieve-type" th:text="${detailDailyGoal.achieveType}" class="daily-goal-detail-content"></div>
    <div class="daily-goal-detail-title" th:if="${#strings.equals(detailDailyGoal.achieveType,'COUNT')} or ${#strings.equals(detailDailyGoal.achieveType,'TIME')}">할달량</div>
    <div id="detail-quota" th:switch="${detailDailyGoal.achieveType}" th:if="${#strings.equals(detailDailyGoal.achieveType,'COUNT')} or ${#strings.equals(detailDailyGoal.achieveType,'TIME')}">
        <div th:case="${T(kong.tues.goal.AchieveType).COUNT}" style="margin-bottom: 20px">
            <span th:text="${detailDailyGoal.goalCount} + '/' + ${detailDailyGoal.goalCountQuota}"></span><span style="font-size: 13px">개</span>
        </div>
        <div th:case="${T(kong.tues.goal.AchieveType).TIME}" style="margin-bottom: 20px">
            <span th:text="${detailDailyGoal.goalTime} + '/' + ${detailDailyGoal.goalTimeQuota}"></span><span style="font-size: 13px">시간</span>
        </div>
    </div>
    <div class="daily-goal-detail-title">성공 여부</div>
    <div id="detail-success" th:text="${detailDailyGoal.success} ? '성공' : '진행 중'" class="daily-goal-detail-content"></div>
    <div id="detail-goal-buttons" style="margin-bottom: 12px; text-align: center;">
        <button id="daily-goal-update-button" style="margin-right: 25px;" th:onclick="updateDailyGoal([[${detailDailyGoal.dailyGoalId}]], [[${year}]], [[${month}]], [[${day}]])">수정</button>
        <button id="daily-goal-delete-button" th:onclick="deleteDailyGoal([[${detailDailyGoal.dailyGoalId}]])">삭제</button>
    </div>
</div>

</body>
</html>